:root {
	--Intro: #1c2431;
	--Main-background: #181f2a;
	--Footer: #0b1523;
	--Testimonials: #202a3c;
	--Call-cyan: #65e2d9;
	--Call-cyan-dark: #339ecc;
	--White: #ffffff;
}
/* Gerais */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.875rem;
}
a,
ul {
	text-decoration: none;
	list-style: none;
}
/* Navegação */
.navigation {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding: 1.5rem 1.5rem;
	background: var(--Testimonials);
}

nav {
	display: flex;
	align-items: center;
}
.menu ul li a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
	padding-right: 3.125rem;
	color: var(--White);
}
.menu ul li a:hover {
	color: #0466c8;
}
.navigation img {
	padding-top: 20px;
	padding-left: 3.125rem;
}

/* Introdução */
main {
	background: var(--Testimonials);
}
.introduction {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	text-align: center;
}
.intro-content {
	width: 32%;
	align-items: center;
	padding-top: 25px;
	color: var(--White);
}
.intro-content h1 {
	font-family: 'Raleway', 'sans-serif';
	line-height: 3.125rem;
	font-size: 2.1875rem;
	font-weight: 25rem;
}

.intro-content p {
	opacity: 0.8;
	padding-top: 20px;
	font-size: 20px;
}

@media (max-width: 911px) {
	.introduction img,
	.intro-content {
		width: 100%;
	}
	.intro-content p {
		font-size: 0.9rem;
	}

	.intro-content h1 {
		font-size: 1.875rem;
	}
}

/* Features */
.features {
	background: var(--Main-background);
	padding-top: 20px;
}
.feature-box {
	max-width: 960px;
	margin: 3.75rem auto;

	display: flex;
	flex-wrap: wrap;
}
.feature-item {
	color: white;

	flex: 2 1 400px;
	margin: 30px;
	text-align: center;
}

.feature-item img {
	padding-bottom: 0.625rem;
}

/* Productive */
.productive {
	color: white;
	padding-left: 2.5rem;
	margin-left: 0.625rem;
}
.productive h1 {
	font-size: 2.25rem;
	padding-bottom: 0.9375rem;
	font-family: 'Raleway', 'sans-serif';
}
.productive p {
	font-family: 'Raleway', 'sans-serif';
	opacity: 0.7;
}

.productive-space {
	padding-bottom: 20px;
}

.productive-box a {
	color: var(--Call-cyan);
	border-bottom: 1px solid var(--Call-cyan);
	padding-bottom: 0.5em;
	padding-right: 25px;
	background: url('../images/icon-arrow.svg') no-repeat right bottom 6px;
	background-size: 20px;
}
.productive-box {
	display: flex;
	align-items: center;
	max-width: 1120px;
	margin: 0px auto;
}
@media (max-width: 911px) {
	.productive-box {
		flex-wrap: wrap;
	}
	.productive-box img {
		width: 100%;
	}
	.productive-works img {
		width: 3%;
	}
	.productive {
		margin: 3.75rem;
	}
}

/* Cards */
.review {
	max-width: 362px;
	margin: 3.75rem auto;

	display: flex;
	flex-wrap: wrap;

	background: #21293d;
}
.review-item {
	display: flex;
	align-items: center;
}
.review-profile img{
	width: 30%;
	border-radius: 50%;
}
.review p {
	color: white;
	line-height: 1.7;
}
.review-profile {
	display: flex;
	align-items: center;
}
/* Attribution */
.attribution {
	font-size: 0.6875rem;
	text-align: center;
}
.attribution a {
	color: #3e52a3;
}
